*{  margin: 0;
  padding: 0;}
h1,h2,span{
  color: #EAC885;
  font-size: 2rem;
}
h1,h2{
  padding-top: 2.5em;
}
.light{
  h1,h2,span{
  color: #020202;
}
}
h1{padding-left: 1em;}
h2{padding-left: 5.5em;
padding-right: 1em;}

.footer{display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 3.5em;
  padding-left: 1em;
}
.avion-contact{
  position: fixed;
  right: 1em;
  bottom: 0.5em;
}


@media (min-width: 768px) {
  h1,h2{
    padding-top: 1em;
  font-size: 3.5rem;
  }
h1{padding-left: 3em;}
h2{padding-left: 8em;}
.footer{
  bottom: 8em;
  padding-left: 4em;
}
.avion-contact{
  position: fixed;
  right: 11em;
  bottom: 4em;
}
}